.review {
  padding-bottom: 71px;
  &__card {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0 auto;
    height: 237px;
    width: 875px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: content-box;
    &:last-child {
      border-bottom: none;
    }
  }
  &__img {
    width: 169px;
    height: 169px;
    margin-right: 62px;
  }
  &__text {
    line-height: 20px;
  }
  &__title {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
  }
  &__subtitle {
    color: #646464;
    font-size: 14px;
    font-weight: 500;
  }
  &__descr {
    margin-top: 19px;
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 500;
    & > div {
      margin-top: 15px;
    }
  }
}